/*------------------------------------------------------------*\
						Style BODY
\*------------------------------------------------------------*/
body {
	background-color: #E8FFFF;
	font-size: 12px;
}
*,*:before,*:after{
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
/*------------------------------------------------------------*\
					Style WRAPPER GLOBAL
\*------------------------------------------------------------*/
.wrapper_calendar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #D1D5D8;
	max-width: 960px;
	margin: 40px auto;
	box-shadow: 0px 0px 20px #000;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
/*------------------------------------------------------------*\
						Style YEAR
\*------------------------------------------------------------*/
.calendar_years {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;/*Valeur par defaut*/
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 100px;
	text-align: center;
	background-color: #043D5D;
}
.last, .next {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	height: 100%;
}
.last a, .next a {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	text-decoration: none;
}
.last a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;/*Valeur par defaut*/
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.next a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.calendar_years img {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	width: 40px;
	height: 40px;
}
.last span, .next span {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	font-style: italic;
	color: #FFF;
	font-size: 18px;
}
.last span {
	margin-left: 20px;
}
.next span {
	margin-right: 20px;
}
.title_year {
	-webkit-box-flex: 4;
	-webkit-flex: 4;
	    -ms-flex: 4;
	        flex: 4;
	color: #F7BC05;
	font-size: 4em;
	padding: 18px 0;	
}
/*------------------------------------------------------------*\
						Style MONTHS
\*------------------------------------------------------------*/
.calendar {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.calendar_months { 
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	background-color: #73B1D6;
}
.months {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	font-size: 2.2em;
	padding: 20px 0;
	margin-left: 75px;
	text-align: center;
	color: #CCEEFF;
}
.months:hover {
	color: #FFF;
}
.up,
.down {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
	width: 75px;
	height: 100%;
	padding: 18px 22.5px;
}
.up img,
.down img {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	cursor: pointer;
}
.down { position: absolute;
		top: 0;
		right: 0;
		visibility: hidden;
}
/*------------------------------------------------------------*\
					    Style DAYSWEEK
\*------------------------------------------------------------*/
.wrapper_dayweek {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #8BCBDE;
}
.wrapper_dayweek tr {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.wrapper_dayweek tr th{
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 10px 0;
	font-size: 1.4em;
}
.wrapper_dayweek tr th:nth-child(-n+6) {
	border-right: solid 4px #8BCBDE; 
}
/*------------------------------------------------------------*\
						Style DAYS
\*------------------------------------------------------------*/
#day_current {color: #CC000D; background-color: #CCEEFF; text-decoration: underline;}
.wrapper_days {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #8BCBDE;
}
.wrapper_days tr {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	border-bottom: solid 4px #8BCBDE;
	margin-left: 4px;
	margin-right: 4px;        	
}
.days {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	height: 120px;
	text-align: center;
	background-color: #EDF9FF;
	border: none;	
}
.days:hover {background-color: #CCEEFF;}
.day--number {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
	width: 40%;
	padding: 10px 0; 
	font-size: 1.8em;
	font-style: italic;
	border-top-left-radius: 150px 30px;
	background-color: #8BCBDE ;
}
.days--empty {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	padding: 40px 0;
	text-align: center;
	border: none;	
}
.days:nth-child(-n+6) {
	border-right: solid 4px #8BCBDE; 
}
.days--empty:nth-child(-n+6) {
	border-right: solid 4px #8BCBDE; 
}