/*------------------------------------------------------------*\
						Style BODY
\*------------------------------------------------------------*/
body {
	background-color: #6C8784;
	font-size: 12px;
}
*,*:before,*:after{
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
/*------------------------------------------------------------*\
					Style WRAPPER GLOBAL
\*------------------------------------------------------------*/
.wrapper_calendar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #D1D5D8;
	max-width: 960px;
	margin: 40px auto;
	box-shadow: 0px 0px 20px #000;
}
/*------------------------------------------------------------*\
						Style YEAR
\*------------------------------------------------------------*/
.calendar_years {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;/*Valeur par defaut*/
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 100px;
	text-align: center;
	background-color: #888888;	
}
.last, .next {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	height: 100%;
}
.last a, .next a {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	text-decoration: none;
}
.last a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;/*Valeur par defaut*/
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.next a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.calendar_years img {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	width: 40px;
	height: 40px;
}
.last span, .next span {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	font-style: italic;
	color: #FFF;
	font-size: 18px;
}
.last span {
	margin-left: 10px;
}
.next span {
	margin-right: 10px;
}
.title_year {
	-webkit-box-flex: 4;
	-webkit-flex: 4;
	    -ms-flex: 4;
	        flex: 4;
	color:#EB9532;
	font-size: 4em;
	padding: 18px 0;	
}
/*------------------------------------------------------------*\
						Style MONTHS
\*------------------------------------------------------------*/
.calendar {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.calendar_months {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	background-color: #BFBFB5;
}
.months {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	font-size: 2.2em;
	padding: 20px 0;
	margin-left: 75px;
}
.up_and_down {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
	width: 75px;
	height: 100%;
	padding: 18px 22.5px;
}
.up_and_down img {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
/*------------------------------------------------------------*\
					    Style DAYSWEEK
\*------------------------------------------------------------*/
.wrapper_dayweek {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #D8E2EC;
	border-bottom: solid 4px #CCC;
	border-top: solid 4px #CCC;
	margin-left: 4px;
	margin-right: 4px;
}
.wrapper_dayweek tr {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.wrapper_dayweek tr th{
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 20px 0;
	font-size: 1.2em;
}
.wrapper_dayweek tr th:nth-child(-n+6) {
	border-right: solid 4px #CCC; 
}
/*------------------------------------------------------------*\
						Style DAYS
\*------------------------------------------------------------*/
.wrapper_days {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.wrapper_days tr {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	border-bottom: solid 4px #CCC;
	padding-left: 4px;
	padding-right: 4px;        
	
}
.days {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	height: 120px;
	text-align: center;
	background-color: #D8E2EC;
	border: none;	
}
.day--number {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
	width: 40%;
	padding: 10px 0; 
	font-size: 1.8em;
	font-style: italic;
	border-top-left-radius: 150px 30px;
	background-color: #ccc;
	box-shadow: 2px -2px 4px #000;
}
.days--empty {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	padding: 40px 0;
	text-align: center;
	background-color: #D1D5D8;
	border: none;	
}
.days:nth-child(-n+6) {
	border-right: solid 4px #CCC; 
}
.days--empty:nth-child(-n+6) {
	border-right: solid 4px #CCC; 
}